/* CSS */
article.qvobject {
    /*position:absolute;*/
    overflow: hidden;
    padding:  10px;
}

.radio-button-filter {
    /*position: absolute;
    top:100px;*/
    width:   180px;
    height:  35px;
    padding: 10px;
}

.tabs, #tabs {
    display: inline-block;
}

.tab {
    display:     inline-block;
    padding-top: 50px;
}

.hide {
    display: none;
}

.filter_block {
    width:          180px;
    display:        inline-block;
    position:       relative;
    vertical-align: top;
}

.filter_block .filter_item {
    width:  180px;
    height: 50px;
}

.qv-listbox li.selected, .qv-listbox .serverSelected, .qv-listbox .serverLocked {
    background-color: #fa7000;
}

.qv-state-count-bar .state.selected {
    background-color: #fa7000;
}

.touch-off .sel-toolbar-list .sel-toolbar-confirm:hover:not(:active), .touch-off .sel-toolbar-list .sel-toolbar-confirm:focus:not(:active) {
    background: #016bb7;
    border-color: #016bb7;
}

.sel-toolbar-list button {
    border-radius: 0;
}

.sel-toolbar-confirm {
    border: 2px solid #014d84;
    background-color: #014d84;
}

.sel-toolbar-btn:active:not(:disabled) {
    background-color: #204d74;
    border-color: #122b40;
}

.sel-toolbar-list .sel-toolbar-confirm:disabled, .sel-toolbar-list .sel-toolbar-confirm:disabled {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.sel-toolbar-list .sel-toolbar-confirm:disabled, .sel-toolbar-list .sel-toolbar-confirm:disabled:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.sel-toolbar-cancel {
    background: #E02929;
    border-color: #E02929;
}

.touch-off .sel-toolbar-list .sel-toolbar-cancel:hover:not(:active), .touch-off .sel-toolbar-list .sel-toolbar-cancel:focus:not(:active) {
    background: #e65656;
    border-color: #e65656;
}
.sel-toolbar-cancel.sel-toolbar-btn:active:not(:disabled) {
    background: #bb1b1b;
    border-color: #bb1b1b;
}

.lui-icon {
}

.lui-icon--triangle-right:before {
    font: normal normal normal 14px/1 FontAwesome !important;
    content: "\f078" !important;
    color: #bcbcbc !important;
    height: 26px;
    line-height: 26px;
}

.qv-collapsed-listbox .title-wrapper .lui-icon--triangle-left {

}

.qv-collapsed-listbox .title-wrapper .lui-icon--triangle-left, .qv-collapsed-listbox .title-wrapper .lui-icon--triangle-right {

}

