/* CSS */
article.qvobject {
    /*position:absolute;*/
    overflow: hidden;
    padding:  10px;
}

.radio-button-filter {
    /*position: absolute;
    top:100px;*/
    width:   180px;
    height:  35px;
    padding: 10px;
}

.tabs {
    display: inline-block;
}

.tab {
    display:     inline-block;
    padding-top: 50px;
}

.hide {
    display: none;
}

.filter_block {
    width:          180px;
    display:        inline-block;
    position:       relative;
    vertical-align: top;
}

.filter_block .filter_item {
    width:  180px;
    height: 50px;
}